
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header */
.header{
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    margin-left: 30px;
    background-position: top left, bottom right;
}

/* sheared Style */
.secondary-bg{
    background-color: #fff8f3;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.section-description{
    font-size: 18px;
    text-align: center;
}

.nav-tittle{
    font-weight: 800;
    font-size: 45px;
}

.taxt-primary{
    color: #fd6e0a;

}

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.dark-3{
    color: #757575;
}

.btn-primary{
    background-color: #fd6e0a;
    font-weight: 700;
    /* font-weight: bold; */
    color: #ffffff;
    padding: 20px 35px;
    border-radius: 5px;
    border: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
    /* margin-right: 10%; */
} 
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 200px;
}

.banner-contain{
    max-width: 580px;

}

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    margin: 0%;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin: 0%;
}

.banner-description{

}

.banner-profile-pic{
    width: 580px;
}


/* Main Section */
main{
    max-width: 1140px;
    /* margin: 0 auto; */
    margin-top: 130px;
    margin-bottom: 130px;
}


/* About Styles */
 .about{
    padding: 130px 150px;
    border-radius: 10px;
    text-align: center;
    margin-top: 13px;
 }
    .about-items{
        display: flex;
        justify-content: space-around;
        margin: 0px;
    }
    .about-item{

    }
    .item-title{
        margin: 0;
    }

    .item-description{
        font-weight: bold;
        margin: 0;

    }

/* skill section style */

.skills{
    
}
.skills-container{
    display: flex;
    gap: 24px;
    
}
.skill {
    /* background-color: lightblue; */
    padding: 30px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 06%);
    border-radius: 10px;
    
}

/* Resume Section Style */
    .resume{}
    .resume-container{
        display: flex;
        gap: 24px;
    }
    .resume-column{}
    .column-title{}
    .experience{
        
    }
    .experience-title{
        
    }
    .experience-dateline{}
    .experience-description{}
    .rsume-hr{
        margin: 30px 0;
        
    }
    .resume-download-button{
        text-align: center;
        margin-top: 50px;
    }

/* Footer Style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
    .footer-column{
        /* padding: 12px; */
        width: 50%;
    }
footer input[type="text"], footer input[type="email"], textarea{
    height: 64px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    display: block;
    width: 100%;
    padding: 5px 40px;
    margin-bottom: 24px;
}
/* textarea
{height: 200px; */
}
    .
    .
    
